# sbt
# (may want to keep parts of 'project')
bin/
project/
target/
build/

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

#general
*.class

# custom
/src/test/scala/Path_GPLangQuerySpecification.scala
/src/test/scala/org.inca.generator.generated

/benchmark/python/*/
/src/test/scala/org/inca/generator/generated/
