target/*
/target/*
project
project/*
/project/*
.idea
src/main/.DS_Store
src/main/scala/.DS_Store
src/main/scala/org/inca/generators/.DS_Store
/src/test/scala/Path_GPLangQuerySpecification.scala
.DS_Store
src/.DS_Store
